<a href="https://colab.research.google.com/github/SauleRub/DI_Bootcamp/blob/main/Week9/Day4/Exercises_Week9_Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from sqlalchemy import create_engine
import sqlalchemy

engine = create_engine('sqlite:///chinook.db')

conn = engine.connect()
print("Connected successfully!")

Connected successfully!

Exercise 1: Reflect the database and prepare ORM session

In [5]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import sessionmaker
import sqlalchemy

# the database schema
metadata = sqlalchemy.MetaData()
metadata.reflect(engine)

# Automapping base to map tables to Python classes
Base = automap_base(metadata=metadata)
Base.prepare()

# Setting up an ORM session
Session = sessionmaker(bind=engine)
session = Session()

In [8]:
# Table names in the database
from sqlalchemy import inspect

inspector = inspect(engine)
print(inspector.get_table_names())

[]

In [9]:
import os

# List all files in current directory
print(os.listdir())

['.config', 'chinook.db', 'sample_data']

In [10]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///chinook.db")

In [11]:
from sqlalchemy import inspect

inspector = inspect(engine)
print(inspector.get_table_names())

[]

In [13]:
import os

print(os.listdir())

['.config', 'chinook.db', 'sample_data']

In [14]:
import sqlite3

conn = sqlite3.connect('chinook.db')
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print(tables)

[]

In [15]:
!wget https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite -O chinook.db

--2025-06-11 16:39:10--  https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite [following]
--2025-06-11 16:39:10--  https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1067008 (1.0M) [application/octet-stream]
Saving to: ‘chinook.db’

chinook.db          100%[===================>]   1.02M  --.-KB/s    in 0.06s

2025-06-11 16:39:10 (17.5 MB/s) - ‘chinook.db’ saved [1067008/1067008]

In [16]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///chinook.db")

In [17]:
import sqlite3

conn = sqlite3.connect('chinook.db')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]

 Exercise 2: Table Names (using SQLAlchemy)

In [18]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base

# Reflecting the DB schema
metadata = sqlalchemy.MetaData()
metadata.reflect(bind=engine)

# Automapping the base
Base = automap_base(metadata=metadata)
Base.prepare()

# All table names
print(metadata.tables.keys())

dict_keys(['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'Track', 'MediaType', 'Playlist', 'PlaylistTrack'])

Exercise 3: Print the First 3 Tracks

In [19]:
# Accessing the Track class
Track = Base.classes.Track

# Query of the first 3 tracks
first_tracks = session.query(Track).limit(3).all()

# Details
for track in first_tracks:
    print(f"ID: {track.TrackId}, Name: {track.Name}, AlbumId: {track.AlbumId}")

ID: 1, Name: For Those About To Rock (We Salute You), AlbumId: 1
ID: 2, Name: Balls to the Wall, AlbumId: 2
ID: 3, Name: Fast As a Shark, AlbumId: 3

Exercise 4: Track Name + Album Title for First 20 Tracks

In [20]:
# Accessing the Album class
Album = Base.classes.Album

# Query and join of Track with Album
results = (
    session.query(Track.Name.label("Track Name"), Album.Title.label("Album Title"))
    .join(Album, Track.AlbumId == Album.AlbumId)
    .limit(20)
    .all()
)

# Results
for row in results:
    print(f"Track: {row[0]} | Album: {row[1]}")

Track: For Those About To Rock (We Salute You) | Album: For Those About To Rock We Salute You
Track: Balls to the Wall | Album: Balls to the Wall
Track: Fast As a Shark | Album: Restless and Wild
Track: Restless and Wild | Album: Restless and Wild
Track: Princess of the Dawn | Album: Restless and Wild
Track: Put The Finger On You | Album: For Those About To Rock We Salute You
Track: Let's Get It Up | Album: For Those About To Rock We Salute You
Track: Inject The Venom | Album: For Those About To Rock We Salute You
Track: Snowballed | Album: For Those About To Rock We Salute You
Track: Evil Walks | Album: For Those About To Rock We Salute You
Track: C.O.D. | Album: For Those About To Rock We Salute You
Track: Breaking The Rules | Album: For Those About To Rock We Salute You
Track: Night Of The Long Knives | Album: For Those About To Rock We Salute You
Track: Spellbound | Album: For Those About To Rock We Salute You
Track: Go Down | Album: Let There Be Rock
Track: Dog Eat Dog | Album: Let There Be Rock
Track: Let There Be Rock | Album: Let There Be Rock
Track: Bad Boy Boogie | Album: Let There Be Rock
Track: Problem Child | Album: Let There Be Rock
Track: Overdose | Album: Let There Be Rock

Exercise 5: Tracks Sold

In [21]:
# Access of the InvoiceLine table
InvoiceLine = Base.classes.InvoiceLine

# Query of first 10 sales and join with Track to get track name
results = (
    session.query(Track.Name, InvoiceLine.Quantity)
    .join(InvoiceLine, Track.TrackId == InvoiceLine.TrackId)
    .limit(10)
    .all()
)

# Results
for track_name, quantity in results:
    print(f"Track: {track_name} | Quantity Sold: {quantity}")

Track: Balls to the Wall | Quantity Sold: 1
Track: Restless and Wild | Quantity Sold: 1
Track: Put The Finger On You | Quantity Sold: 1
Track: Inject The Venom | Quantity Sold: 1
Track: Evil Walks | Quantity Sold: 1
Track: Breaking The Rules | Quantity Sold: 1
Track: Dog Eat Dog | Quantity Sold: 1
Track: Overdose | Quantity Sold: 1
Track: Love In An Elevator | Quantity Sold: 1
Track: Janie's Got A Gun | Quantity Sold: 1

Exercise 6: Top Tracks Sold.

In [22]:
from sqlalchemy import func

# Aliases for convenience
InvoiceLine = Base.classes.InvoiceLine
Track = Base.classes.Track

# Query top 10 tracks sold
top_tracks_query = (
    session.query(Track.Name, func.count(InvoiceLine.TrackId).label("sales_count"))
    .join(InvoiceLine, Track.TrackId == InvoiceLine.TrackId)
    .group_by(Track.TrackId)
    .order_by(func.count(InvoiceLine.TrackId).desc())
    .limit(10)
)

# Results
for track_name, count in top_tracks_query.all():
    print(f"Track: {track_name} | Times Sold: {count}")

Track: Balls to the Wall | Times Sold: 2
Track: Inject The Venom | Times Sold: 2
Track: Snowballed | Times Sold: 2
Track: Overdose | Times Sold: 2
Track: Deuces Are Wild | Times Sold: 2
Track: Not The Doctor | Times Sold: 2
Track: Por Causa De Você | Times Sold: 2
Track: Welcome Home (Sanitarium) | Times Sold: 2
Track: Snowblind | Times Sold: 2
Track: Cornucopia | Times Sold: 2

Exercise 7: Top Selling Artists

In [23]:
# Class references
InvoiceLine = Base.classes.InvoiceLine
Track = Base.classes.Track
Album = Base.classes.Album
Artist = Base.classes.Artist

# Query top 10 selling artists
top_artists_query = (
    session.query(Artist.Name, func.count(InvoiceLine.InvoiceLineId).label("sales_count"))
    .join(Album, Artist.ArtistId == Album.ArtistId)
    .join(Track, Album.AlbumId == Track.AlbumId)
    .join(InvoiceLine, Track.TrackId == InvoiceLine.TrackId)
    .group_by(Artist.ArtistId)
    .order_by(func.count(InvoiceLine.InvoiceLineId).desc())
    .limit(10)
)

# Results
for artist_name, sales in top_artists_query.all():
    print(f"Artist: {artist_name} | Total Sales: {sales}")

Artist: Iron Maiden | Total Sales: 140
Artist: U2 | Total Sales: 107
Artist: Metallica | Total Sales: 91
Artist: Led Zeppelin | Total Sales: 87
Artist: Os Paralamas Do Sucesso | Total Sales: 45
Artist: Deep Purple | Total Sales: 44
Artist: Faith No More | Total Sales: 42
Artist: Lost | Total Sales: 41
Artist: Eric Clapton | Total Sales: 40
Artist: R.E.M. | Total Sales: 39